In [1]:
#!pip install nsepy
#!pip install yfinance

In [2]:
import pandas as pd
from nsepy import get_history as gh
import datetime as dt
import yfinance as yf

In [3]:
start = dt.datetime(2021, 7, 1)
end = dt.datetime(2022, 1, 27)
symbol = 'AXISBANK.NS'  # Stock symbol in uppercase
stk_data = yf.download(symbol, start=start, end=end)

[*********************100%%**********************]  1 of 1 completed

In [4]:
stk_data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-07-01,750.000000,754.400024,744.500000,746.450012,743.785339,5695690
2021-07-02,747.599976,752.849976,744.000000,750.650024,747.970398,3557647
2021-07-05,757.099976,762.000000,753.400024,760.349976,757.635681,4680089
2021-07-06,757.000000,767.000000,755.200012,758.349976,755.642822,5529485
2021-07-07,755.900024,764.000000,752.250000,762.900024,760.176636,3573368
...,...,...,...,...,...,...
2022-01-19,725.200012,731.950012,718.700012,729.599976,726.995483,7746270
2022-01-20,731.049988,737.150024,722.150024,728.900024,726.297974,8505400
2022-01-21,722.000000,725.250000,708.049988,712.500000,709.956543,10689060
2022-01-24,715.000000,716.400024,688.200012,704.599976,702.084717,8812501
2022-01-25,714.000000,755.000000,708.599976,752.200012,749.514832,38088158

In [5]:
stk_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 143 entries, 2021-07-01 to 2022-01-25
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       143 non-null    float64
 1   High       143 non-null    float64
 2   Low        143 non-null    float64
 3   Close      143 non-null    float64
 4   Adj Close  143 non-null    float64
 5   Volume     143 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 7.8 KB

In [6]:
stk_data=stk_data[["Open","High","Low","Close"]]

In [7]:
stk_data

                  Open        High         Low       Close
Date
2021-07-01  750.000000  754.400024  744.500000  746.450012
2021-07-02  747.599976  752.849976  744.000000  750.650024
2021-07-05  757.099976  762.000000  753.400024  760.349976
2021-07-06  757.000000  767.000000  755.200012  758.349976
2021-07-07  755.900024  764.000000  752.250000  762.900024
...                ...         ...         ...         ...
2022-01-19  725.200012  731.950012  718.700012  729.599976
2022-01-20  731.049988  737.150024  722.150024  728.900024
2022-01-21  722.000000  725.250000  708.049988  712.500000
2022-01-24  715.000000  716.400024  688.200012  704.599976
2022-01-25  714.000000  755.000000  708.599976  752.200012

[143 rows x 4 columns]

In [8]:
column="Close"

In [9]:
from sklearn.preprocessing import MinMaxScaler
MS=MinMaxScaler()
data1=MS.fit_transform(stk_data[[column]])
print("len:",data1.shape)

len: (143, 1)

In [10]:
len(data1)

143

In [11]:
training_size=round(len(data1)*0.80)
print(training_size)
X_train=data1[:training_size]
X_test=data1[training_size:]
print("X_train length:",X_train.shape)
print("X_test length:",X_test.shape)
y_train=data1[:training_size]
y_test=data1[training_size:]
print("y_train length:",y_train.shape)
print("y_test length:",y_test.shape)

114
X_train length: (114, 1)
X_test length: (29, 1)
y_train length: (114, 1)
y_test length: (29, 1)

In [17]:
from sklearn.metrics import mean_squared_error
trends=['n','t','c','ct']
lags=[1,2,3,4]

from statsmodels.tsa.ar_model import AutoReg
for i in lags:
    print(i)
        
    for td in trends:
        #print(td)
        #trendslist.append(td)
        model = AutoReg(X_train, lags=i,trend=td)
        model_fit = model.fit()
        # make prediction
        y_pred= model_fit.predict(len(X_train), len(data1)-1)
        #print(y_pred)
        #mse=mean_squared_error(y_test,y_pred,squared=False)
        from stockFunctions import rmsemape
        print("Lag={},Trend={}".format(i,td))
        rmsemape(y_test,y_pred)
        print("************")

1

SyntaxError: invalid syntax (stockFunctions.py, line 4)

In [ ]:
len(y_pred)

In [ ]:
i=1
td='ct'
model = AutoReg(X_train, lags=i,trend=td)
model_fit = model.fit()
# make prediction
y_pred= model_fit.predict(len(X_train), len(data1)-1)
#print(y_pred)
from sklearn.metrics import r2_score
mse=mean_squared_error(y_test,y_pred,squared=False)
from stockFunctions import rmsemape
print("Lag={},Trend={}".format(i,td))
rmsemape(y_test,y_pred)
print("************")

In [ ]:
from stockFunctions import graph
graph(y_test,y_pred,"Actual","Predicted","TataCoffee-Close-AR-Norm","Days","Prices")

In [ ]:
len(data1)

In [ ]:
y_test

In [ ]:
from stockFunctions import conversionSingle
aTestNormTable=conversionSingle(y_test,[column])

In [ ]:
aTestNormTable

In [ ]:
actual_stock_price_test_ori=Ms.inverse_transform(aTestNormTable)

In [ ]:
actual_stock_price_test_ori

In [ ]:
actual_stock_price_test_oriA=conversionSingle(actual_stock_price_test_ori,[column])

In [ ]:
actual_stock_price_test_oriA

In [ ]:
from stockFunctions import conversionSingle
aTestNormTable=conversionSingle(y_test,[column])
actual_stock_price_test_ori=Ms.inverse_transform(aTestNormTable)
actual_stock_price_test_oriA=conversionSingle(actual_stock_price_test_ori,[column])

In [ ]:
from stockFunctions import conversionSingle
pTestNormTable=conversionSingle(y_pred,[column])
predicted_stock_price_test_ori=Ms.inverse_transform(pTestNormTable)
predicted_stock_price_test_oriP=conversionSingle(predicted_stock_price_test_ori,[column])

In [ ]:
from stockFunctions import graph
graph(actual_stock_price_test_oriA,predicted_stock_price_test_oriP,
      "Actual","Predicted","TataCoffee-Close-AR-Ori","Days","Prices")

In [ ]:
from stockFunctions import rmsemape
rmsemape(actual_stock_price_test_oriA,predicted_stock_price_test_oriP)

In [ ]:
forecast=model_fit.predict(len(data1), len(data1)+3)

In [ ]:
forecast

In [ ]:
from stockFunctions import conversionSingle
fTestNormTable=conversionSingle(forecast,["Closefore"])
forecast_stock_price_test_ori=Ms.inverse_transform(fTestNormTable)
forecast_stock_price_test_oriF=conversionSingle(forecast_stock_price_test_ori,["Closefore"])

In [ ]:
forecast_stock_price_test_oriF

In [ ]:
forecast_stock_price_test_oriF.to_csv("CloseAR.csv",index=False)

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(10,5))
plt.plot(actual_stock_price_test_oriA[116:145], color = 'blue', label="Actual")
plt.plot(forecast_stock_price_test_oriF, color = 'red', label ="Predicted")